# Azure Blob Storage
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_ACCOUNT_KEY=

# GA DMD (Postgres)
POSTGRES_HOST_<ENV>=
POSTGRES_PORT_<ENV>=
POSTGRES_DATABASE_<ENV>=
POSTGRES_USER_<ENV>=
POSTGRES_PASSWORD_<ENV>=
  
# DMD
DMD_API_URL_<ENV>=
DMD_API_TOKEN_<ENV>=


# IOT Core
IOTCORE_API_URL_<ENV>=
IOTCORE_API_TOKEN_<ENV>=
IOTCORE_API_DRIVER_<ENV>=
IOTCORE_INSTALLATION=
IOTCORE_DRIVER=

# Pseudonymization
PSEUDONYMIZATION_SALT=
PSEUDONYMIZATION_OFFSET_X=
PSEUDONYMIZATION_OFFSET_Y=

# Docker
INGESTION_IMAGE=
INGESTION_FORCE_PULL=
INGESTION_ENVIRONMENT=
DOCKER_REGISTRY_CONN_ID=
DOCKER_GID=